<html>
    <link rel="stylesheet" href="/static/styles.css">
    <head>
        <title>
            NEA Lyrics
        </title>
        <table class="navbar">
            <tr class="navbar">
                <div class="navbar">
                    <td class="navbar"><a href="/stats" class="navbar">STATS</a></td>
                    <td class="navbar"><a href="/lyrics" class="navbar_active">LYRICS</a></td>
                    <td class="navbar"><a href="/recommend" class="navbar">RECOMMEND</a></td>
                    <td class="navbar"><a href="/generate" class="navbar">GENERATE</a></td>
                    
                    <td class="navbar-edge"><a href="/friends" class="navbar">FRIENDS</a></td>
                    <td class="navbar"><a href="/account" class="navbar">ACCOUNT</a></td>
                </div>
            </tr>
        </table>
    </head>
    <br>
    <body>
        {% if flag %}
            {% if not songs %}
                No results
            {% else %}
                <div class="overflow">
                    <ul class="unfollow">
                        {% for song in songs %}
                        <div class="interactive">
                            <div class="secondary-text">
                                <a href="{{song[3]}}">
                                    <li>{{song[2]}} - {{song[1]}}</li>
                                </a>
                            </div>
                        </div>

                            <div class="tertiary-text">
                                {{song[0]}}
                            </div>
                        <br>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        {% else %}
            <form method="post" id="lyric-search">
                <input type="text" id="search" name="lyrics" placeholder="Enter Lyrics">
                <br>
                <input type="submit" value="Search">
            </form>
        {% endif %}
    </body>
</html>